/* You can add global styles to this file, and also import other style files */
// domain.yohotechnologies@gmail.com

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
app-orders{
  width: 77%;

}
app-allproducts{
  width: 100%;
}